#welcome{
    display:"grid";
    grid-template-columns:" 20% 20% 20% 20% 20%";
    grid-template-rows: "20% 20% 20% 20% 20%";
    background-image: "url(/card_jumble.jpg)";
    height: '100vh';
    background-size: 'cover';
}